@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --main-color: #000;
    --color-claro: #fff;
    --color-secundario: #071731;
    --color-alternativo: #757474;
    --color-contenedores: #3d3a3a;
    --color-botones: #246979;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
a {
    text-decoration: none;
    display: inline;
    color: var(--main-color);
}

.home-body {
    position: fixed;
}

.grid-container {
    max-width: 980px;
    margin: auto;
    
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/*Clases usadas para el header
    .header-icons-container
    .icons
    .nav-logo-container
    .profile-link
    .facebook
    .twitter
    .instagram
    .linkedin
    .github
*/

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--main-color);
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
 
    font-size: 25px;
    color: var(--color-claro);
}

header .icons img {
    width: 35px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: var(--color-secundario);
}

nav .nav-logo-container {
    margin-left: 50px;
}
nav .nav-logo-container img {
    width: 100px;
    margin-top: 10px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;

}

nav .profile-link a {
    color: var(--color-claro);
    border-bottom: 1px solid var(--color-claro);


}

/*
Clases usadas para el main home:
    .home-main
    .home-main-text
    .home-main-button
*/
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url("https://i.ibb.co/tmd8mvx/Background-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main section {
    display: grid;
    grid-column: 2;
    justify-content: center;
    height: 350px;
    margin-top: 80px;
}

.home-main-text {
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: var(--color-claro);
    background-color: var(--color-alternativo);
    text-align: center;
    font-family: 'Roboto mono', monospace;
    height: 70px;
}

.home-main-button {
    width: 110px;
    height: 50px;
    background-color: var(--color-botones);
    border-radius: 5px;
    border:  5px solid var(--color-claro);
    display: grid;
    align-items: center;

}

.home-main-button a {
    color: var(--color-claro);
    font-weight: 700;
    font-size: 18px;
}

.blogs-main {
    display: grid;
}

.blogs-news-container {
    background-color: var(--color-contenedores);
    padding: 0 50px 40px;
    color: var(--color-claro);
}

.blogs-main-news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container {
    grid-column: 1;   
}

.blogs-news-img-container img {
    width: 85%;
}

.blogs-news-info-container {
    grid-column: 2;
}

.blogs-news-info-container p {
    margin-bottom: 35px;
}

.blogs-posts-container {
    padding: 0 50px 40px;
}

.blogs-posts-container h3 {
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 20px;
    text-align: center;
}

.blogs-button {
    border: 3px solid var(--color-botones);
    padding: 10px 15px;
    font-size: 12px;
    color: var(--color-claro);
}


.blogs-posts-container {
    background-color: var(--color-alternativo);
    color: var(--color-claro);
}
.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    max-height: 100px;
    
}

.blogs-posts-container .post-container p {
    margin-bottom: 35px;
}

.blogs-posts-container .post-container img {
    width: 100%;

}

footer {
    background-color: var(--main-color);
    width: 100%;
    height: 80px;
    border-top: 50px solid var(--color-secundario);
}

footer p {
    color: var(--color-claro);
    margin-top: 30px;
    text-align: center;
}

.blogpost-img-container {
    padding-bottom: 100px;
    background-color: var(--color-contenedores);
    width: 100%;
    margin-bottom: 0;
}

.blogpost-img-container img {
    width: 100%;
    
}

.blogpost-main-container {
    padding: 0 50px 40px;
    background-color: var(--color-alternativo);
    color: var(--color-claro);
    margin: 0;

}

.blogpost-main-container h3 {
    border-bottom: 1px solid var(--main-color);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.blogpost-main-container article h1 {
    font-size: 35px;
}

.contact-main-container {
    width: 100%;
    min-height: 250px;
    background-color: var(--color-contenedores);
    text-align: center;
    padding-bottom: 50px;

}

.contact-main-container div {
    color: var(--color-claro);
    display: inline-block;
    width: 49.5%;
    height: 100%;
}

.contact-main-container a {
    color: var(--color-claro);
    border-bottom: 1px solid var(--color-claro);
    padding-bottom: 5px;
}

.contact-main-container .contact-left, .contact-right {
    text-align: initial;
    margin-top: 85px;
}

.contact-main-container img {
    width: 100px;
}

.profile-main-container {
    padding: 70px 40px;
    background-color: var(--color-contenedores);
    /* margin-bottom: 50px; */
    color: var(--color-claro);
}

.profile-main-container img {
    width: 320px;
    margin-right: 30px;
}

.profile-main-container .profile-container {
    display: flex;
}
.profile-main-container .profile-container div p a {
    color: darkblue;
}
.profile-main-projects {
    padding: 0 50px 40px;
    background-color: var(--color-alternativo);
    margin: 0;
}

.profile-main-projects h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 35px;
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
}

.projects-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.project-container {
    padding: 0 5px;
    background-color: var(--color-secundario);
    margin: 3px;
    border-radius: 5px;
    color: var(--color-claro);

}

.project-container img {
    width: 100%;
}

.project-container p a {
    color: blueviolet;
}

.answer {
    height: 150px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    text-align: justify;
}

.volver--button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100px;
    
    background-color: var(--color-alternativo);
}

.return--button {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    background-color: var(--color-alternativo);
}

.return--button .blogs-button {
    margin: 0 auto;
    margin-bottom: 5px;
   
}

