@media (max-width: 900px) {
    .blogs-main-news {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }

    .blogs-posts-container .post-container {
        max-width: 45%;
    }

    .projects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
    }

    .profile-main-container .profile-container {
        display: block;
    }
}

@media (max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }
    .post-container {
        height: 500px;
        padding-bottom: 400px;
    }
    
    .blogs-button {
        margin-bottom: 10px;
    }
    .home-main-text {
        height: 200px;
        margin-bottom: 0px;
    }
    .home-main-button {
        margin: 0 auto;

    }

    .blogs-posts-container .post-container {
        max-height: 100px;
    }

    .contact-left p {
        font-size: 10px;
    }
}